<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.mui-media-body p{
				width : 95%;
			}
			.no-chat-bg {
				height: calc(100vh - 74px);
				background-color: #efeff4;
				background: url(../../images/no_msg.png) no-repeat center center;
				background-size: 180px;
			}
			.mui-ellipsis{
				height : 20px;
			}
			.my-input {
				height: 30px;
				background-color: #ffffff;
				border-radius: 20px;
				background-image: url(../../icon/search-1.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 25px;
				margin-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div class="mui-content-padded" style="margin: 5px;margin-top: 20px;">
				<div id="search" class="my-input">
					
				</div>
			</div>

			<ul id="msgList" class="mui-table-view no-chat-bg">
				<!-- <li class="mui-table-view-cell mui-media">
					<a onclick="openChat('123')">
						<img class="mui-media-object mui-pull-left" src="../../images/shuijiao.jpg">
						<div class="mui-media-body">
							<span>名字</span>
							<p class='mui-ellipsis'>最新消息内容</p>
						</div>
						<span class="mui-badge mui-badge-danger">45</span>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a onclick="APP.sendMsg()">
						<img class="mui-media-object mui-pull-left" src="../../images/muwu.jpg">
						<div class="mui-media-body">
							木屋
							<p class='mui-ellipsis'>想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
						</div>
					</a>
				</li> -->
			</ul>
		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/APP.js"></script>
	<script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		mui.plusReady(function() {
			mui("#search")[0].addEventListener('tap', function() {
				mui.openWindow({url:'../searchMyFriends.html',
					id : "searchMyFriends",
					extras:{id:'100'},
				}); 
			});
			window.MSG = {
				//WebSocket
				WebSocket: null,
				heartInterval : null,
				initWebSocket: function() {
					if (window.WebSocket) {
						if (MSG.WebSocket != null) {
							return;
						}
						MSG.WebSocket = new WebSocket(APP.chatServer);
						MSG.WebSocket.onopen = function() {
								var param = {
									"msgCode": 100,
									"fromAccount": APP.getUserInfo().account
								};
								MSG.WebSocket.send(JSON.stringify(param));
								if(MSG.heartInterval == null){
									MSG.heartInterval = setInterval("MSG.timingRefresh()",8000);//8秒发一次
								}
								ShowWin.getOfflineMsg(); 
								console.log("success");
							},
							MSG.WebSocket.close = function() {
								console.log("close");
								MSG.WebSocket = null;
							},
							MSG.WebSocket.onerror = function() {
								console.log("onerror");
								MSG.WebSocket = null;
							},
							MSG.WebSocket.onmessage = function(e) {
								var data = JSON.parse(e.data);
								var msgCode = data.msgCode;
								if (msgCode == 100) { //建立连接消息
									
								} else if (msgCode == 101) { //聊天消息
									recvChatMsg(data);
								} else if (msgCode == 102) { //申请消息
									var player = plus.audio.createPlayer("../../voice/11302.mp3");
									player.play(); 
									var obj = plus.webview.getWebviewById("contacts.html");
									obj.evalJS('CONTACTS.setNewReqMsgNum("-1")'); 
								} else if(msgCode == 104){
									recvGroupMsg(data);
								} 
							}
					} else {
						mui.toast("版本过低");
					}
				},
				sendMsg: function(msg) {
					if(MSG.WebSocket == null || MSG.WebSocket.readyState == 2 || MSG.WebSocket.readyState == 3){
						MSG.WebSocket = null;
						if(MSG.heartInterval != null){
							clearInterval(MSG.heartInterval);
							MSG.heartInterval = null;
						}  
						MSG.initWebSocket();
					}
					MSG.WebSocket.send(JSON.stringify(msg));
				},
				//定时想服务器发送请求
				timingRefresh : function(){
					var heart = {
						"msgCode":103,
						"fromAccount":APP.getUserInfo().account,
						"toAccount":"",
						"createDate":APP.getDateTime(),
						"msgType":""  
					};
					MSG.sendMsg(heart);//发送心跳包
				},
				//设置未读数量
				setUnreadNum: function(num, account) {
					var obj = document.getElementById("msgNum" + account);
					if (num > 0) {
						if (num < 100) {
							localStorage.setItem("unreadNum" + account, num);
							obj.className = "mui-badge mui-badge-danger";
							obj.innerHTML = num;
						} else {
							localStorage.setItem("unreadNum" + account, num);
							obj.className = "mui-badge mui-badge-danger";
							obj.innerHTML = "99+";
						}
					} else { 
						localStorage.setItem("unreadNum" + account, 0);
						obj.className = "mui-badge mui-badge-danger mui-hidden";
					}
				}
			};
			
			/**
			 * 接收聊天消息处理
			 * @param {Object} data
			 */
			function recvChatMsg(resMsg){
				var player = plus.audio.createPlayer("../../voice/qq.mp3");
				player.play();
				var imageName = "";
				var recv = {}; 
				var type = APP.isExistChatWindow(resMsg.fromAccount);
				if(type != 1){//还没有创建窗口
					mui.ajax(APP.serverURL + "/user/getUserInfo",{
						data:{
							account : resMsg.fromAccount
						},
						dataType:'json',//服务器返回json格式数据
						type:'get',//HTTP请求类型
						async : false,
						success:function(data){
							if(data.code == 200){
								mui.toast(data.msg);
							}else{
								var user = data.extend.data;
								var chatWindow = {
									account : user.account,
									userName : user.userName,
									userImage : APP.imageURL + "/userImage/" + user.userImage
								};
								imageName = chatWindow.userImage;
								recv = {
									sender: 'zs',
									type: resMsg.msgType,
									image : imageName,
									content: resMsg.context
								};
								APP.setMsgRecord(recv,user.account);
								APP.setChatWindow(chatWindow);
								var o = document.getElementById("msgList");
								if(type == 0){
									o.classList.remove("no-chat-bg");
								}
								
							} 
						},
						error:function(e){ 
							mui.alert("网络错误，请重试");
						}
					}); 
				}else{
					var cs = APP.getChatWindows();
					mui.each(cs,function(num,item){
						if(item.account == resMsg.fromAccount){
							imageName = item.userImage;
							APP.delChatWindow(resMsg.fromAccount);
							APP.setChatWindow(item);
						}
					});
					recv = {
						sender: 'zs',
						type: resMsg.msgType,
						image : imageName,
						content: resMsg.context
					};
					APP.setMsgRecord(recv,resMsg.fromAccount);
				}
				ShowWin.showChatWindows();
				//接收到新消息渲染到页面
				var obj = plus.webview.getWebviewById("chat");
				if(obj != null && obj.isVisible()){//当前在聊天窗口直接渲染
					var str = JSON.stringify(recv);
					obj.evalJS('CHAT.recv('+str+')');
				}else{//不在聊天窗口，缓存到本地
					//接收到新消息在消息列表显示未读数量
					var num = localStorage.getItem("unreadNum" + resMsg.fromAccount);
					if (num == null) {
						num = 0;
						localStorage.setItem("unreadNum" + resMsg.fromAccount, 0);
					}
					num = parseInt(num) + 1;
					MSG.setUnreadNum(num,resMsg.fromAccount);
				}
				
				//消息列表页面显示最新消息
				var obj = document.getElementById("newMsg"+resMsg.fromAccount);
				obj.innerHTML = resMsg.context;
			}
			/**
			 * 群聊消息接收
			 * @param {Object} resMsg
			 */
			function recvGroupMsg(resMsg){
				//声音提醒
				var player = plus.audio.createPlayer("../../voice/qq.mp3");
				player.play(); 
				var type = APP.isExistChatWindow(resMsg.toAccount);
				var recv = {};
				if(type != 1){//还没有创建窗口
					mui.ajax(APP.serverURL + "/group/getGroupData",{
						data:{
							groupId : resMsg.toAccount
						},
						dataType:'json',//服务器返回json格式数据
						type:'get',//HTTP请求类型
						async : false,
						success:function(data){
							var group = data.extend.data;
							if(group == null){
								mui.toast("获取资料出错");
							}else{
								var user = resMsg.user;
								var chatWindow = {
									account : resMsg.toAccount,
									userName : group.groupName,
									userImage : APP.imageURL + "/userImage/" + group.groupImage,
									type : 'group',
									role : resMsg.role
								};
								recv = {
									sender: 'zs',
									type: resMsg.msgType,
									image : APP.imageURL + "/userImage/" + user.userImage,
									content: resMsg.context
								};
								APP.setMsgRecord(recv,resMsg.toAccount);
								APP.setChatWindow(chatWindow);
								var o = document.getElementById("msgList");
								if(type == 0){
									o.classList.remove("no-chat-bg");
								}
								ShowWin.showChatWindows();
							} 
						},
						error:function(e){ 
							mui.alert("网络错误，请重试");
						}
					}); 
				}else{
					var cs = APP.getChatWindows();
					mui.each(cs,function(num,item){
						if(item.account == resMsg.toAccount){
							APP.delChatWindow(resMsg.toAccount);
							APP.setChatWindow(item);
						}
					});
					recv = {
						sender: 'zs', 
						type: resMsg.msgType,
						image : APP.imageURL + "/userImage/" + resMsg.user.userImage,
						content: resMsg.context
					};
					APP.setMsgRecord(recv,resMsg.toAccount);
				}
				ShowWin.showChatWindows();
				//接收到新消息渲染到页面
				var obj = plus.webview.getWebviewById("chat");
				if(obj != null && obj.isVisible()){//当前在聊天窗口直接渲染
					var str = JSON.stringify(recv);
					obj.evalJS('CHAT.recv('+str+')');
				}else{//不在聊天窗口，缓存到本地
					//接收到新消息在消息列表显示未读数量
					var num = localStorage.getItem("unreadNum" + resMsg.toAccount);
					if (num == null) {
						num = 0;
						localStorage.setItem("unreadNum" + resMsg.toAccount, 0);
					}
					num = parseInt(num) + 1;
					MSG.setUnreadNum(num,resMsg.toAccount);
				}
				
				//消息列表页面显示最新消息
				ShowWin.setShowNewMsg(resMsg.toAccount,resMsg.context);
			}
			window.ShowWin = {
				setShowNewMsg : function(account,context){
					var obj = document.getElementById("newMsg"+account);
					obj.innerHTML = context;
				},
				/**
				 * 加载聊天过得聊天入口
				 */
				showChatWindows : function() {
					var cs = APP.getChatWindows().reverse();
					if (cs.length == 0) {
						document.getElementById("msgList").innerHTML = "";
						//先移除再添加，防止重复添加
						document.getElementById("msgList").classList.remove("no-chat-bg");
						document.getElementById("msgList").classList.add("no-chat-bg");
					} else {
						document.getElementById("msgList").classList.remove("no-chat-bg");
						var str = ""; 
						mui.each(cs, function(num, item) {
							var msgRecord = APP.getMsgRecord(item.account);
							var lastMsg = "";
							if (msgRecord.length > 0) { 
								lastMsg = msgRecord[msgRecord.length - 1].content;
							}
							str += `
								<li class="mui-table-view-cell mui-media chatWins" id-role="`+(item.role)+`" id-account="` + item.account +
								`" id-userName="` + item.userName + `" id-image="` + item.userImage +
								`" id-type="`+(item.type)+`">
									<img class="mui-media-object mui-pull-left" src="` + item.userImage +
								`">
									<div class="mui-media-body">
										<span>` + item.userName +
								`</span>
										<p id="newMsg`+item.account+`" class='mui-ellipsis'>` + lastMsg + `</p>
									</div>
							`;
							var num = localStorage.getItem("unreadNum" + item.account);
							if (num == null || num == 0) {
								str += `<span id="` + ("msgNum" + item.account) + `" class="mui-badge mui-badge-danger mui-hidden"></span>`;
							} else {
								if (num > 99) {
									num = "99+";
								}
								str += `<span id="` + ("msgNum" + item.account) + `" class="mui-badge mui-badge-danger">` + num + `</span>`;
							}
							str += `</li> `;
						});
						mui("#msgList")[0].innerHTML = str;
						mui("#msgList").on('tap', '.chatWins', function() {
							MSG.setUnreadNum(0, this.getAttribute("id-account"));
							var type = this.getAttribute("id-type")
							if(type == "undefined" || type == null){
								type = 'chat';
							}else{
								type = "group";
							}
							mui.openWindow({
								url: '../message-childs/chat.html',
								id: "chat",
								extras: {
									role : this.getAttribute("id-role"),
									type : type,
									account: this.getAttribute("id-account"),
									userName: this.getAttribute("id-userName"),
									userImage: this.getAttribute("id-image")
								},
							});
						});
					}
				},
				getOfflineMsg : function(){
					mui.ajax(APP.serverURL + "/msgRecord/offlineMsg",{
						data:{
							account : APP.getUserInfo().account
						},
						dataType:'json',//服务器返回json格式数据
						type:'get',//HTTP请求类型
						success:function(data){
							
						},
						error:function(e){
							alert("cuowu");
						}
					});
				}
			}
			ShowWin.showChatWindows();
			MSG.initWebSocket();
		})
	</script>
</html>
